<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QLBanHang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QLBanHang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching" />
  </configSections>
  <cachingConfiguration defaultCacheManager="Isolated Cache Manager">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
      <add name="Isolated Storage" partitionName="QLBH" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
    </backingStores>
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Isolated Storage" name="Isolated Cache Manager" />
      <add name="Memory Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
      <add name="Loading Scenario Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
    </cacheManagers>
  </cachingConfiguration>
  <connectionStrings>
    <add name="QLBanHang.Properties.Settings.QLBanHangConnectionString"
      connectionString="Data Source=HAH;Initial Catalog=QLBH_TA;Persist Security Info=True;User ID=sa;Password=12345;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <!--database baohanh-->
    <!--<add   name="QLBH.Core.Properties.Settings.QLBanHangOracleConnectionString"
            connectionString="o8zZJDL2nJfPlx6hB7yX0oiocva4o+UBVkwRhr1XGPDJxDXHXFRdk3JhbQIyuQKde7zufhdIIKuIbTMvLZZUsGu7aA7USQhAmWm0sY1kDKNhX4TzXgfYrUzvA5IAnJTdNi3mCK4D+qI="
            providerName="System.Data.OracleClient"   />-->

    <!--database testbaohanh-->
    <!--<add name="QLBH.Core.Properties.Settings.QLBanHangOracleConnectionString"
      connectionString="o8zZJDL2nJfPlx6hB7yX0oiocva4o+UBVkwRhr1XGPDJxDXHXFRdk3JhbQIyuQKdvCntIp+WphlwcwwMV2T3Ez9ZDAd21lh9DUHWXbe0GK5jPipoOtWjH5chm/Tp/sVsmjsxbpfcTdU="
      providerName="System.Data.OracleClient" />-->
    <!--LOCAL-->
    <add   name="QLBH.Core.Properties.Settings.QLBanHangOracleConnectionString"
            connectionString="o8zZJDL2nJfPlx6hB7yX0tMQuPBR1hUBHXQ2nySS7vKxeZ1sHSgrdHAiCaLSezCm6lTV+SFmLZgoS5gJ+uPeniW9vBvdK/zaeBDAhkdVq01ecyvX3FtGbJNVl4C16TiHEA0G8jrTuBQ="
            providerName="System.Data.OracleClient"   />

  </connectionStrings>
  <appSettings>
    <add key="ORG_CODE" value="SASFDA" />
    <add key="MONEY_TYPE" value="USD" />
    <add key="IN_BILL" value="1" />
    <add key="IN_HOADON" value="1" />
    <add key="IN_PHIEUTHU" value="1" />
    <add key="HIENTHI_CHONKHO" value="0" />
    <add key="GIAODIEN_MACDINH" value="frmPhieuXuat" />
    <add key="TEMP_DIRECTORY" value="C:\Tmp" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <QLBanHang.Properties.Settings>
      <setting name="phuong" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Time" serializeAs="String">
        <value>06:00:01</value>
      </setting>
      <setting name="smtpserver" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="useraccount" serializeAs="String">
        <value />
      </setting>
      <setting name="passaccount" serializeAs="String">
        <value />
      </setting>
      <setting name="ssl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>587</value>
      </setting>
    </QLBanHang.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <QLBanHang.Properties.Settings>
      <setting name="F" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QLBanHang_WebReference_Main" serializeAs="String">
        <value>http://192.168.50.31/main.asmx</value>
      </setting>
      <setting name="QLBanHang_Modules_DongBoERP_qlbh_synch_Main" serializeAs="String">
        <value>http://192.168.50.31:8082/main.asmx</value>
      </setting>
    </QLBanHang.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>